.homehero-box {
	width: 100%;
	background-color: #E3E2E2;
	margin-top: 60px;
	padding-top: 15px;
}

.homehero {
	width: 1358px;
	margin: 0 auto;
}

.homehero-top {
	display: flex;
}

.home-shu {
	width: 4px;
	height: 28px;
	background-color: #1da6ba;
	margin-right: 10px;
}

.homehero-title {
	color: #0b0b0b;
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	margin-right: 20px;
}
.ant-radio-wrapper{
	margin-right: 40px;
}
.homehero-bottom {
	display: flex;
	flex-wrap: wrap;
	margin-top: 21px;
}

.homehero-hero {
	width: 88px;
	height: 100px;
	margin: 0 8px 12px;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.homehero-hero-hover{
	padding-top: 30px;
	width: 66px;
	height: 66px;
	background-image: url("https://game.gtimg.cn/images/lol/v3/dark70-bg-repeat.png");
	position: absolute;
	top: 0;
	left: 10px;
	display: none;
}
.anticon-search{
	font-size: 20px;
}
.homehero-hero:hover .homehero-hero-hover{
	display: block;
	color: #799BA0;
}
.homehero-hero:hover .homehero-heroname{
	color: #1da6ba;
}
.homehero-hero img {
	width: 66px;
	height: 66px;
}

.homehero-hero p {
	line-height: 30px;
	font-size: 12px;
	color: #333;
}
